
@import url('https://fonts.googleapis.com/css2?family=Pompiere&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pompiere&family=Ribeye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Pompiere&family=Ribeye&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color:cornflowerblue;
}
header{
    position: fixed;
    display:flex;
    width: 100%;
    height:89px;
    background-color:dodgerblue;
    align-items: flex-start; 
    justify-content: space-between;
    padding: 5px 10px;
    /*titulo de la pagina*/
    h1{
        
        font-family: 'Pompiere', cursive;
        color: white;
        font-size: 60px;
        margin-left: 5px;
        white-space: nowrap;
        text-decoration-line: underline;
        text-decoration-style: wavy;
        text-decoration-color: white;
        text-decoration-thickness: 2px;
        text-underline-offset: 2px;
        text-shadow:4px 3px 6px white;
    }
        p sub{
                font-family: 'Pompiere', cursive;
        color: white;
        font-size: 30px;
        margin-left: 5px;
        white-space: nowrap;
        text-decoration-line: underline;
        text-decoration-style: wavy;
        text-decoration-color: white;
        text-decoration-thickness: 2px;
        text-underline-offset: 2px;
        text-shadow:4px 4px 6px white;

    }
    /*titulo de la pagina y es el estilo del.. nombre-*/
    /*botones- y sus animaciones (  esto NO SE  toca)*/
    #navegacion{
        /*ajuste espacio en los botones ( el nav y todo eso*/
        gap: 100px;
        display:flex;
        /*ajuste espacio en los botones ( el nav y todo eso*/
         /*Esta parte de aca es la que.. define un poco la fuente de los botones. y que a pasar para encima baje*/
        a{
            background-color: dodgerblue;
            width:150px;
            height:40px;
            font-family: 'Ribeye', cursive;
            color: white;
            font-size: 20px;
            margin-right: 20px;
            transition: all 0.3s ease-in-out;
            text-shadow: 2px 2px 4px gray;
            padding: 10px;
        }
        a:hover {

        
        transform: translateY(30px);
            
    }
    /*Esta parte de aca es la que.. define un poco la fuente de los botones y que al pasar por encima baje para abajo.*/
    }
    /*esta parte define el boton de inicio.*/
    a.inicio{
        position:relative;
        display:inline-block;
    }
    .boton{ 

        z-index:2;
        top: 0;
        left:0;
        width:125px;
        height: 60px;
        object-fit: contain;
        display:block;
        position:absolute;
    
    }
    /*esta parte define el boton de inicio.*/
    /*controlador de la imagen del boton inicio y de sam*/
    .sam {
        width: 100px;
        height: auto;
        object-fit: contain;
        display: block;
        position: absolute;
        z-index: 3;
        left: calc(50% + 6px);
        top: -55px;
        transform: translateX(-50%);
        opacity: 0;
        pointer-events: none;
        transition: top 0.3s ease, opacity 0.3s ease;
    }


    a.inicio:hover .sam {

        opacity: 1;
    }
    /*controlador de la imagen del boton inicio y de sam*/
    /*propiedades del boton de galeria*/
    a.galeria{
        position:relative;
        display:inline-block;
        width:125px;
        height:60px;
        z-index:1;
    }
    .botonG{
        z-index:2;
        top: 0;
        left:0;
        width:125px;
        height: 60px;
        object-fit: contain;
        display:block;
        position:absolute;

    }
    /*propiedades del boton de galeria*/
    /*controlador del del boton de galeria*/
    .Sahraboton{
        width: 150px;
        height: auto;
        object-fit: contain;
        display: block;
        position: absolute;
        z-index: 3;
        left: calc(50% + 70px);
        top: -50px;
        transform: translateX(-50%);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: top 0.3s ease, opacity 0.3s ease;

    }
    a.galeria:hover .Sahraboton{
            opacity:1;
            visibility: visible;
            

    }
     /*controlador del del boton de galeria*/
    a.historia{
    position:relative;
    display:inline-block;
    width:125px;
    height:60px;
    z-index:1;
    }
    .botonH{
        z-index:2;
        top: 0;
        left:0;
        width:125px;
        height: 60px;
        object-fit: contain;
        display:block;
        position:absolute;

    
    }
    .sahm_sahra{
        width: 150px;
        height: auto;
        object-fit: contain;
        display: block;
        position: absolute;
        z-index: 3;
        left: calc(50% + -110px);
        top: -60px;
        transform: translateX(-50%);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: top 0.3s ease, opacity 0.3s ease;
   
    }
    .historia:hover .sahm_sahra{
        opacity:1;
            visibility: visible;
            

    }

/*botones- y sus animaciones (  esto NO SE  toca)*/
}

main p#Sack{
    text-align:justify;
    text-shadow: 2px 2px 4px #0500FF;
    font-family: 'Indie Flower', cursive;
    padding: 100px;
    margin-top: 20px;
    font-size: 30px;
    color:#1F1E73;
    max-width: 135ch;

}

/*.. fondos.. de los textos.. de la intro..*/


/* Marco.. de La intro ..? eso creo */



/*animacion.. del color.. del titulo =(*/
main section#banner{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#banner img{
    margin-top: -100px;
    width: 100%;
    height: auto;
    object-fit: cover;
}


#sack{
    display: none;
    color:#2029D4;
    text-shadow:4px 3px 6px #2029D4;
}
#sahra{
    
    display:inline; 
    color:red;
    text-shadow:4px 3px 6px #8A0000;
}

#sahra-sack:hover #sahra{
    display: none;
}

#sahra-sack:hover #sack{
    display: inline;
}


